@font-face {
	font-family: logo-font;
	src: url(Chunkfive.otf);
}

@font-face {
	font-family: corpo-font;
	src: url(AUdimat-Regular.otf);
}

* {
	font-family: corpo-font;
}

.logo {
	font-family: logo-font;
	font-size: 2em;
	padding: 0.5em;
}

input, textarea, select, button {
	font-family: corpo-font;
}

.ui-inputfiel, .ui-inputtext {
	font-family: corpo-font;
}

.ui-widget {
	font-family: corpo-font;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f5f5f5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: #343a40;
}

.botao-grande {
	width: 20em;
}

.botao-primario {
	background-color: #FFC564;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa000), to(#ffa000));
}

.botao-primario.ui-state-hover{
	background-position: 0 -45px;
}

.bordas.form-control {
	border: none;
	background-color: #f5f5f5;	
	z-index: 30;
}

.editor.form-control {
	border: none;
	padding: 0px;
}

/*
 *  CSS abaixo para personalização da barra gerado na seguinte url
 *	https://work.smarchal.com/twbscolor/4.0.0/css/4e342effa000ffffffcac0c01 
 */
.navbar {
  background-color: #0B106C;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #cac0c0;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #cac0c0;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #cac0c0; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #cac0c0;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #0B106C;
  border-color: #ffa000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #504141;
  background-color: #ffa000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #ffa000;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #504141;
  background-color: #ffa000;
}
.navbar .navbar-toggle {
  border-color: #ffa000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffa000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #cac0c0;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cac0c0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cac0c0;
    background-color: #ffa000;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cac0c0;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cac0c0;
    background-color: #ffa000;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cac0c0;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cac0c0;
    background-color: #ffa000;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cac0c0;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cac0c0;
    background-color: #ffa000;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #cac0c0;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #cac0c0;
  background-color: #ffa000;
}