@font-face {
	font-family: logo-font;
	src: url(Chunkfive.otf);
}

@font-face {
	font-family: corpo-font;
	src: url(AUdimat-Regular.otf);
}

* {
	font-family: corpo-font;
}

.logo {
	font-family: logo-font;
	font-size: 2em;
	padding: 0.5em;
}

input, textarea, select {
	font-family: inherit;
}

html, body {
	height: 100%;
	margin: : 0pt;
}

body {
	display: table;
	width: 100%;
	height: 100%;
}

header {
	display: table-row;
	height: 1px;
}

footer {
	display: table-row;
	height: 1px;
}

#conteudo {
	height: auto;
}
